/* CSS CRUD EMPRESA */


/* layout */

.table-responsive{
    margin-top: 20px;
}

.search-box {
    max-width: 400px;
}


/* NAVBAR */
.navbar-brand i {
    margin-right: 8px;
}


/* BOTONES DE ACCIONES TABLA */
.btn-group-actions{
    white-space: nowrap;
}